.contact-address {
    font-size: 1.5rem;
    padding: 5vh 0;
    text-align: center;
    
}

.contact-address span {
    font-weight: bold;
    margin-right: 8px;
    color: #91683c;
}

.contact-address br {
        display: none;
    }

@media screen and (max-width: 768px) {
    .contact-address {
        font-size: 1.2rem;
    }

    .contact-address br {
        display: block;
    }
}