.work-information {
    margin-top: 5vh;
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.information {
    width: 48%;
}

.work-information-img {
    display: block;
    width: 50%;
    height: 50vh;
    object-fit: contain;
    margin-top: 2vh;
}

.information h3 {
    font-size: 1.8rem;
    margin-bottom: 1vh;
}

.work_name {
    font-size: 1.5rem;
    margin-bottom: 2vh;
}

.information h4 {
    font-size: 1.3rem;
    margin-bottom: 1vh;
}

.information .work_backend, .work_frontend {
    font-size: 1.3rem;
    margin-bottom: 2vh;
}