.profile {
    height: auto;
    width: 100%;
}

.profile .profileImgText {
    display: flex;
    align-items: center;
    margin: 5rem auto;
}

.profile .profileImgText .profileImg  {
    width: 40%;
}

.profile .profileImgText .profileImg img {
    max-width: 400px;
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile .profileImgText .profileText {
    width: 55%;
}

.profile .profileImgText .profileText .myname {
    font-size: 2.5rem;
}

.profile .profileImgText .profileText .englishMyname {
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.profile .profileImgText .profileText .school {
    font-size: 1.3rem;
    margin-bottom: 2vh;
}

.profile .profileImgText .profileText .school-mobile {
    display: none;
}

.profile .profileImgText .profileText p {
    font-size: 1.2rem;
    margin-bottom: 0.5vh;
}

@media screen and (max-width: 900px) {

    .profile .profileImgText {
        margin: 1rem auto;
    }
    
    .profile .profileImgText .profileImg  {
        width: 40%;
    }
    
    

    .profile .profileImgText .profileText {
        width: 55%;
    }

    .profile .profileImgText .profileText .myname {
        font-size: 1.5rem;
    }

    .profile .profileImgText .profileText .englishMyname {
        font-size: 1.0rem;
    }

    .profile .profileImgText .profileText .school {
        font-size: 1.0rem;
    }

    .profile .profileImgText .profileText p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 768px) {
    .profile .profileImgText {
        flex-direction: column;
        align-items: center;
        margin: 1rem auto;
    }

    .profile .profileImgText .profileImg  {
        width: 60%;
    }

    .profile .profileImgText .profileImg img {
        width: 200px;
        height: 200px;
        margin: 2vh auto;
    }

    .profile .profileImgText .profileText {
        width: 80%;
        margin-top: 1vh;
    }

    .profile .profileImgText .profileText .myname {
        font-size: 2rem;
        text-align: center;
    }

    .profile .profileImgText .profileText .englishMyname {
        font-size: 1.2rem;
        text-align: center;
    }

    .profile .profileImgText .profileText .school {
        display: none;
    }

    .profile .profileImgText .profileText .school-mobile {
        display: block;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 3vh;
    }

    .profile .profileImgText .profileText p {
        font-size: 1rem;
    }
}